//- Site information
- var lang = 'en'
- var path = './'

//- Page information
- var title = title || 'JSON BUILDER - Web Designer Substances'
- var metaDesc = metaDesc || 'JSON BUILDER is a jumping off point for a larger javascript project. Its designed as an easy to expand app template using a number of web technologies, including pug, node, and lit.js'

//- Templates classes
- var superClass = superClass || ""
- var prefix = prefix || ""
- var iconPrefix = 'rif'

- var package = require('../../package.json')
- var mojoVersion = package.version;

- var showDebug = showDebug || false

- const stamp = Math.round(new Date().getTime() / 1000)
