if showRobot
  div.robot-wrapper
    div.vr-block
    img.robot-logo(src=imgPath+"imgs/RocketRobot.png", alt="RobotImg")

<!-- Mojo Footer -->
footer.footer.bg-dark.mt-5(role="contentinfo")
  .row.gx-5
    .col-12.my-3
      h3.mb-0.text-center.text-white FOOTER
